/*aqui eu estou centralizando a imagem do bg e adicionando padding e tamanho de todo o header,
 normalmente nao seria indicado a fazer isso.
 Porem nesse projeto foi identificado a necessidade, pois os professores dividiram o projeto em 4 partes
e cada um com sua propria peculiaridade*/

header {
    background-image: url(https://github.com/tonzzera/Projeto-Portfolio/blob/master/assets/Background_Intro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1366px;
    height: 750px;
    margin-inline: auto;
    padding-inline: 163px;

}

/*todos os seletores (PRESENTATION) esta ajustando o layout dele centralizado ao meio
e estilizando as fontes.
Vale ressaltar que o primeiro p utiliza uma fonte diferente o ultimo p
e o h1 tem color e uma fonte diferente de ambos.*/

#presentation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#presentation img {
    margin-top: 120px;
    margin-bottom: 56px;

}

#presentation p:nth-child(2) {
    font: var(--sub);
    color: var(--gray200);
    margin-bottom: 8px;
}

#presentation h1 {
    font: var(--title-lg);
    color: var(--gray100);
    margin-bottom: 20px;
}

#presentation p:nth-child(4) {
    font: var(--text-sm);
    color: var(--gray300);
    max-width: 680px;
    margin-bottom: 80px;
}

/* a parte das tecnologias o correto seria
adicionar um hover nelas alterando a cor vou deixar isso para outra hora*/


.techs {
    display: flex;
    padding-block: 8px;
    padding-inline: 16px;
    align-items: center;
    gap: 8px;
    border-radius: 999px;
    background-color: var(--gray400);
    font: var(--text-md);
    color: var(--gray200);
}


.user-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
}

#header-tech {
    margin-inline: auto;
    width: 754px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 94px;
}
/*class de hover do header*/
.tech-git:hover{
    border: 1px solid #6E7681;
}

.tech-html:hover{
    border: 1px solid #FF91DA;
    span{
        color:#FF91DA ;
    }
    .icon-hover{
        content: url(https://github.com/tonzzera/Projeto-Portfolio/blob/master/assets/hover/HTML-hover.svg);
    }
   
}

.tech-css:hover{
    border: 1px solid #3FA9FF;
    span{
        color:#3FA9FF ;
    }
    .icon-hover{
        content: url(https://github.com/tonzzera/Projeto-Portfolio/blob/master/assets/hover/CSS-hover.svg);
    }
}
.tech-js:hover{
    border: 1px solid #F9D65C;
    span{
        color:#F9D65C ;
    }
    .icon-hover{
        content: url(https://github.com/tonzzera/Projeto-Portfolio/blob/master/assets/hover/JavaScript-hover.svg);
    }
}
.tech-react:hover{
    border: 1px solid #4EC6E9;
    span{
        color:#4EC6E9 ;
    }
    .icon-hover{
        content: url(https://github.com/tonzzera/Projeto-Portfolio/blob/master/assets/hover/React-hover.svg);
    }
}
.tech-node:hover{
    border: 1px solid #21C96C;
    span{
        color:#21C96C ;
    }
    .icon-hover{
        content: url(https://github.com/tonzzera/Projeto-Portfolio/blob/master/assets/hover/Node.js-hover.svg);
    }
}





/* é apenas para centralizar o svg da seta ao meio*/

#arrow {
    display: flex;
    justify-content: center;
}


