#projects {
    margin-top: 72px;
    padding-inline: 163px;
    margin-inline: auto;
}

#projects>div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    h2 {
        margin-bottom: 56px;
    }
}

#projects article {
    justify-content: center;
    margin-inline: auto;
    overflow: hidden;
    flex-wrap: wrap;
    max-width: 1040px;
    gap: 24px;
    margin-bottom: 144px;
}




.cards-projeto {
    width: 330px;
    height: 280px;
    border-radius: 12px;
    padding: 12px;
    background-color: var(--gray400);

    img {
        width: 306px;
        height: 156px;
        border-radius: 8px;
    }

    h3 {
        margin-top: 20px;
        margin-bottom: 8px;
        color: var(--gray100);

    }

    p {
        color: var(--gray200);
    }

}



/*--------------------------------------------------------------*/


#services {
    background-color: var(--gray600);
    padding-bottom: 120px;
}

#services>div {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    span {
        margin-top: 88px;
    }

    

    h2 {
        margin-bottom: 56px;
    }
}


#services article {
    align-items: center;
    justify-content: center;
    gap: 24px;
    

    .cards-tech {
        width: 280px;
        height: 155px;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid var(--gray400);

        img {
            width: 48px;
            height: 48px;
            margin-bottom: 20px;
        }

        h3 {
            margin-bottom: 8px;
            color: var(--gray100);
        }

        p {
            color: var(--gray200);
        }
    }
}