#projects {
    margin-top: 72px;
    padding-inline: 163px;
    margin-inline: auto;
}

#projects>div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    h2 {
        margin-bottom: 56px;
    }
}

#projects article {
    justify-content: center;
    margin-inline: auto;
    overflow: hidden;
    flex-wrap: wrap;
    max-width: 1040px;
    gap: 24px;
    margin-bottom: 144px;
}




.cards-projeto {
    width: 330px;
    height: 280px;
    border-radius: 12px;
    padding: 12px;
    background-color: var(--gray400);

    img {
        width: 306px;
        height: 156px;
        border-radius: 8px;
    }

    h3 {
        margin-top: 20px;
        margin-bottom: 8px;
        color: var(--gray100);

    }

    p {
        color: var(--gray200);
    }

}

.cards-projeto:hover {
    border: 1px solid #6E7681;
}



/*--------------------------------------------------------------*/


#services {
    width: 1366px;
    height: 480px;
    background-color: var(--gray600);
    margin-inline: auto;

}

#services>div {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    span {
        margin-top: 88px;
    }



    h2 {
        margin-bottom: 56px;
    }
}


#services article {
    align-items: center;
    justify-content: center;
    gap: 24px;



}

.cards-tech {
    width: 280px;
    height: 155px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--gray400);

    img {
        width: 48px;
        height: 48px;
        margin-bottom: 20px;
    }

    h3 {
        margin-bottom: 8px;
        color: var(--gray100);
    }

    p {
        color: var(--gray200);
    }

    
}

.app-hover:hover{
    border: 1px solid #BB72E9;
    .icon-hover{
        content: url(https://github.com/tonzzera/Projeto-Portfolio/blob/master/assets/hover/Devices-hover.svg);
    }
}

.api-hover:hover{
    border: 1px solid #F9D65C;
    .icon-hover{
        content: url(https://github.com/tonzzera/Projeto-Portfolio/blob/master/assets/hover/HardDrives-hover.svg);
    }
}

/*class de hover da section de serviços*/
.devops-hover:hover {
     border: 1px solid #21C96C;
     .icon-hover{
        content: url(https://github.com/tonzzera/Projeto-Portfolio/blob/master/assets/hover/Infinity-hover.svg);
    }
}







#social {
    background-image: url(https://github.com/tonzzera/Projeto-Portfolio/assets/Background_Contacts.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1366px;
    height: 787px;
    margin-inline: auto;
    padding-inline: 163px;
    padding-top: 128px;
    padding-bottom: 200px;

    p {
        color: var(--gray200);
    }
}

#text-social {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    p {
        margin-bottom: 48px;
    }
}

#social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.cards-links {
    width: 400px;
    height: 68px;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--gray400);
    gap: 12px;

    span {
        margin-right: auto;
        color: var(--gray200);
        font: var(--text-md);
    }

    margin-right: 12px;
}


/*class de hover da section de social media*/
.social-linkedin:hover {

    border: 1px solid #3FAEFD;

    span {
        color: #3FAEFD;
    }

    .icon-hover{
        content: url(https://github.com/tonzzera/Projeto-Portfolio/blob/master/assets/hover/LinkedinLogo-hover.svg);
    }
    .arrow-hover{
        content: url(https://github.com/tonzzera/Projeto-Portfolio/blob/master/assets/hover/seta-linkedin-hover.svg);
    }

}

.social-insta:hover {

    border: 1px solid #FF5A99;

    span {
        color: #FF5A99;
    }

    .icon-hover{
        content: url(https://github.com/tonzzera/Projeto-Portfolio/blob/master/assets/hover/InstagramLogo-hover.svg);
    }
    .arrow-hover{
        content: url(https://github.com/tonzzera/Projeto-Portfolio/blob/master/assets/hover/seta-insta-hover.svg);
    }

}

.social-git:hover {

    border: 1px solid #AEB6C1;

    span {
        color: #AEB6C1;
    }

    .icon-hover{
        content: url(https://github.com/tonzzera/Projeto-Portfolio/blob/master/assets/hover/GitHub-hover.svg);
    }
    .arrow-hover{
        content: url(https://github.com/tonzzera/Projeto-Portfolio/blob/master/assets/hover/seta-git-hover.svg);
    }

}

.social-email:hover {

    border: 1px solid #FF4A3D;

    span {
        color: #FF4A3D;
    }

    .icon-hover{
        content: url(/assets/hover/EnvelopeSimple-hover.svg);
    }
    .arrow-hover{
        content: url(https://github.com/tonzzera/Projeto-Portfolio/blob/master/assets/hover/seta-email-hover.svg);
    }

}
