/*Neste arquivo sera adicionado todas as class utilitarias do projeto*/


.flex{
    display: flex;
}

.red{
    color: var(--red);
}

.sub{
    font: var(--sub);
}

.title-md{
    font: var(--title-md);
}

.title-sm{
    font: var(--title-sm);
}

.text-md{
    font: var(--text-md);
}

.text-sm{
    font: var(--text-sm);
}

.img-sm{
    width: 20px;
    height: 20px;
}

.img-md{
    width: 28px;
    height: 28px;
}

.purple{
    color: var(--purple);
}